hash_type: sha256

# One of: all, garbage, trace, debug, profile, info, warning, error, critical, quiet.
log_level_logfile: debug

file_client: local

fileserver_backend:
   - git
   - roots

gitfs_provider: pygit2
gitfs_pubkey: '/srv/salt/configs/localdev.pub'
gitfs_privkey: '/srv/salt/configs/localdev.key'

#state_verbose: False
state_verbose: True

gitfs_remotes:
  #- ssh://git@ops.chgit.com:7999/salt/states.git
  - ssh://git@ops.chgit.com:7999/saltform/saltstack-sun-java.git:
    - mountpoint: salt://sun-java
    - root: sun-java
  - ssh://git@ops.chgit.com:7999/saltform/saltstack-iptables.git:
    - mountpoint: salt://iptables
    - root: iptables
  #- ssh://git@ops.chgit.com:7999/saltform/saltstack-nginx.git:
  #  - mountpoint: salt://nginx
  - ssh://git@ops.chgit.com:7999/saltform/saltstack-ntp.git:
    - mountpoint: salt://ntp
    - root: ntp
  - ssh://git@ops.chgit.com:7999/saltform/saltstack-nfs.git:
    - mountpoint: salt://nfs
    - root: nfs
  #- ssh://git@ops.chgit.com:7999/saltform/saltstack-vsftpd.git:
  #  - mountpoint: salt://vsftpd
  #  - root: vsftpd

file_roots:
  base:
    - /srv/salt/states
  dev:
    - /srv/salt/states/dev

pillar_roots:
  base:
    - /srv/salt/pillars
  dev:
    - /srv/salt/pillars/dev

module_dirs:
  base:
    - /srv/salt/_modules
  dev:
    - /srv/salt/_modules
